language: scala

scala:
   - 2.10.6
   - 2.11.7

jdk:
  - oraclejdk7
  - oraclejdk8

sudo: false

cache:
  directories:
    - $HOME/.ivy2

script:
  - sbt clean coverage test

after_success:
  - bash <(curl -s https://codecov.io/bash)